<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Dashboard</h1>
   </div>
</div>
<div class="row placeholders">
   <div class="col-xs-6 col-sm-3 placeholder">
     <a data-toggle="modal" data-target="#myModal">
       <i class="fa fa-suitcase" style='font-size: 100px;'></i>
       <h4>Packing Checklist</h4>
       <span class="text-muted">View/Edit your health packing list</span>
     </a>
   </div>
   <div class="col-xs-6 col-sm-3 placeholder">
     <a data-toggle="modal" data-target="#myModal">
       <i class="fa fa-user-md" style='font-size: 100px;'></i>
       <h4>Vaccine Checklist</h4>
       <span class="text-muted">View/Edit your vaccine list</span>
     </a>
   </div>
   <div class="col-xs-6 col-sm-3 placeholder">
     <a>
       <i class="fa fa-exclamation-circle" style='font-size: 100px;'></i>
       <h4>Notifications</h4>
       <span class="text-muted">See Travel Notifications for your trip</span>
     </a>
   </div>
   <div class="col-xs-6 col-sm-3 placeholder">
<a data-toggle="modal" data-target="#myModalProfile">
   <i class="fa fa-user" style='font-size: 100px;'></i>
       <h4>Profile</h4>
       <span class="text-muted">View/Edit your profile</span>
     </a>
   </div>
 </div>
