<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Unsubscribe</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>You have been unsubscribed</p>
  </div>
</div>
