<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Email Verification</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Your email has been verified!  {{#link-to 'setup'}}Setup your trip{{/link-to}}</p>
  </div>
</div>
