<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Email Verification</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{#if model}}
      <p>Your email has been verified!  {{#link-to 'setup'}}Click here to login and setup your trip{{/link-to}}</p>
    {{else}}
      <p>There was a problem verifying your email.</p>
    {{/if}}
  </div>
</div>
