<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Plan Trip</h1>
  </div>
</div>
<form>
  {{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    You must select at least one country
  </div>
  {{/if}}
  <div class="row">
    <div class="col-sm-1 col-xs-12">
       <i class="fa fa-globe" style='font-size: 100px; font-size:7vw'></i>
    </div>
    <div class="col-sm-11 col-xs-12">
      <h4>Select Countries</h4>
      {{select-2
         content=model.countries
         value=countries
         multiple=true
         placeholder="Select your trip countries"
       }}
     </div>
  </div>
  <div class='row'>
    <div class="col-xs-12">
      <br/>
      <label>{{input type="checkbox" name="model.user.notification" checked=model.user.notification}} I would like to receive email notification about health hazards around me</label>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" {{action 'submit'}}>Plan My Trip</button>
      </div>
    </div>
  </div>
</form>
